* {
  margin: 0 auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  scrollbar-color: black;
  scrollbar-width: thin;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #333; /* Adjust the background color as needed */
}
/* Header section starts */
.main {
  display: flex;
  min-height: 120vh;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.985)
    ),
    url("./images/helmet.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.head {
  margin-top: 5em;
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Heading {
  color: white;
  font-family: "Montserrat", sans-serif;
  /* padding-top: 1em; */
  text-align: center;
  font-size: 4em;
  letter-spacing: 2px;
}

.subhead {
  color: rgb(197, 197, 197);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  text-shadow: solid black;
  /* text-align: center; */
}

.desc {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  margin: 2em;
  padding-left: 6em;
  padding-right: 6em;
}
/* Navbars */
#trapezoid {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 80px solid rgba(0, 0, 0, 0);
  border-top: 0 solid;
  border-bottom: 100px solid rgb(128, 128, 128);
  -webkit-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  font: normal 100% / normal Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  margin-top: -53px;
  width: 760px;
  position: relative;
  transition: all 0.7s ease;
  padding-left: 7%;
}

#trapezoid a,
.subnavbtn {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.sub-home {
  display: none;
  position: absolute;
  right: 0;
  left: 0;

  z-index: 1;
  transform: perspective(-10px);
}

#trapezoid:hover .sub-home {
  justify-content: center;
  margin-top: 53px;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 100px;
  z-index: 100;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.5s ease;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 25px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.5s ease;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
  background: black;
  color: white;
  border-radius: 5px;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  transform: perspective(-10px);
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background: #b993d6;
  color: black;
}

.subnav:hover .subnav-content {
  display: flex;
  justify-content: center;
}
/* Navbar ends */
/* header button */
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #000;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
}

.button::before,
.button::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7d8082;
  transition: all 0.15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #000;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #000;
}

.button_lg::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #000;
  transition: all 0.2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff4655;
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #000;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}

/* Header Ends */
/* ABOUT SECTION */
#About {
  color: #ff4655;
  width: 100vw;
  min-height: 120vh;
  margin-top: 5em;
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* About section ends */

/* Pricing section */
#Pricing {
  color: #ff4655;
  width: 100vw;
  min-height: 120vh;
  margin-top: 5em;
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* plans new0 */
:root {
  --dark-blue: #333;
  --green: #000000;
  --yellow: #e9e9e9;
  --light-color: hsl(105, 55%, 96%);
  --pink: #ef476f;
}

.pricing-table-container {
  font-family: "Poppins", sans-serif;
}

.pricing-table-container .pricing-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

.pricing-table-container h2 {
  margin-right: 32px;
  font-size: 24px;
}

.pricing-table-container .plans-switch {
  width: 250px;
  background: var(--dark-blue);
  height: 55px;
  appearance: none;
  border-radius: 24px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.pricing-table-container .plans-switch-container {
  position: relative;
  color: #fff;
  display: inline-block;
}

.pricing-table-container .plans-switch-container .monthly {
  position: absolute;
  left: 36px;
  top: 18px;
  pointer-events: none;
}

.pricing-table-container .plans-switch-container .yearly {
  position: absolute;
  right: 36px;
  top: 18px;
  pointer-events: none;
}

.pricing-table-container .plans-switch::before {
  content: "";
  position: absolute;
  height: 44px;
  width: 120px;
  border-radius: 24px;
  background: var(--green);
  top: 50%;
  transform: translateY(-50%);
  left: 6px;
  transition: all 0.5s;
}

.pricing-table-container .plans-switch:checked::before {
  left: 138px;
  width: 106px;
}

.pricing-table {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.pricing-table .table {
  background: var(--light-color);
  width: 260px;
  padding: 18px;
  position: relative;
}

.pricing-table h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.pricing-table .price-container {
  display: flex;
  align-items: center;
}

.pricing-table .price-container .price {
  font-size: 56px;
  font-weight: bold;
  padding-right: 16px;
}

.pricing-table .description {
  font-size: 15px;
  color: #222;
}

.pricing-table .features {
  list-style: none;
  padding: 0;
}

.pricing-table .features li {
  margin: 24px 0;
  display: flex;
  align-items: center;
}

.pricing-table .features li::before {
  content: url("images/check-icon.svg");
  margin-right: 16px;
  margin-top: 4px;
}

.pricing-table a.btn {
  background: var(--dark-blue);
  padding: 16px 0;
  display: inline-block;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 24px;
  margin-top: 16px;
  transition: all 400ms;
}

.pricing-table a.btn:hover {
  background: #1e1e1e;
}

.pricing-table .table img.table-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.pricing-table .table .content {
  z-index: 200;
  position: relative;
}

.pricing-table .table.best-value {
  background: var(--dark-blue);
  color: #fff;
  border-radius: 24px;
  width: 280px;
}

.pricing-table .table.table.best-value .value {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 8px;
  border-radius: 24px 24px 0 0;
  background: var(--pink);
  font-weight: bold;
}

.pricing-table .table.table.best-value .content {
  padding-top: 32px;
}

.pricing-table .table.table.best-value .price {
  font-size: 68px;
}

.pricing-table .table.table.best-value a.btn {
  background: var(--yellow);
  color: #000;
  transition: all 400ms;
}

.pricing-table .table.table.best-value a.btn:hover {
  background: #ffffff;
}

.pricing-table .table.best-value .description {
  color: #eee;
}

/* JUMP TO TOP */
.Btn {
  width: 45px;
  height: 45px;
  background: linear-gradient(to right, #222222, #444444);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: fixed; /* Fixed position */
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  border: none;
  z-index: 1000; /* Ensure it's above other elements */
}

.arrow path {
  fill: white;
}

.text {
  font-size: 0.7em;
  width: 100px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -18px;
  opacity: 0;
  transition-duration: .7s;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: .7s;
}

.Btn:hover .arrow {
  animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
  0% {
      transform: translateY(10px);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

/* FORM */
#contact {
  color: white;
  width: 100vw;
  height: 100vh;
  margin-top: 5em;
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat' , sans-serif;
}
form {
  padding-left:25px;
  padding-right:25px;
  padding-top:60px;
  margin: 12px auto;
  border-radius: 20px;
  position:relative;
  z-index:1;
}

form > div{
  position:absolute;
  top:0;
  left:50%;
  padding:0 20px;
  transform:translate(-50%,-50%);
  background-color:black;
  border: 2px solid #ccc;
  border-radius: 20px;
  text-align:center;
}

form > div > img{
  filter:invert(1);
  width:100px;
}

form > input,
form > textarea {
  padding: 12px;
  margin: 12px auto;
  border: 1px solid #ccc;
  color: #ddd;
  background-color: #222;
  border-radius: 4px;
  display: block;
  width: 70vw;
  font-family: 'Montserrat' , sans-serif;
}


form > textarea{
  height:100px;
  resize:none;
}

form > input[type="submit"] {
  max-width: 20vw;
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
  transition: 0.35s;
}

form > input[type="submit"]:hover {
  background-color: #555;
}

/* Features */
/* Pricing section */
#Features {
  color: #ff4655;
  width: 100vw;
  height: 100vh;
  margin-top: 5em;
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-section .icon-box {
  font-family: 'Montserrat', sans-serif;
  margin: 1.5em;
	padding: 30px;
	border-radius: 6px;
	background-color: #f8f9fa;
}
.service-section .icon-box:hover .service-title a {
	color: #41A1FD;
}
.service-section .icon-box .service-icon {
	float: left;
	color: #41A1FD;
	font-size: 40px;
}
.service-section .icon-box .service-title {
	margin-left: 70px;
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 1.2;
}
.service-section .icon-box .service-title a {
	color: #556270;
	transition: 0.3s;
	text-decoration: none;
}
.service-section .icon-box .service-para {
	margin-left: 70px;
	line-height: 24px;
	font-size: 14px;
}
.service-section .service-main-heading {
	color: #556270;
	padding: 0;
	margin-bottom: 20px;
	line-height: 1;
	font-size: 60px;
	font-weight: 600;
}
/* Simulation page */
/* *NOTE - So this is an important vehicle anchor */
.frame{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 20em;
  width: 40em;
}
#screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px; 
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}
/* team bar */
.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Montserrat' , sans-serif;
  font-weight: 200;
}

.team-member {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.21);
  transition: transform 0.3s ease-in-out;
}

.team-member:hover {
  transform: translateY(-10px);
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-member h3 {
  font-weight: 700;
  margin: 0;
}

.team-member .role {
  color: #888;
  margin-bottom: 10px;
}

.fa {
  font-size: 24px;
  margin: 0 10px;
  color: #000;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  text-decoration: none;
}

.team-member:hover .fa {
  transform: scale(1.2);
  color: #007AFF;
}

/* Team bar end */

/* SIMULATION PAGE BUTTONS */
.btn-hover {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: #4b4b4b;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn-hover:hover {
  background-color: #474747;
}

.btn-hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.8;
  transition: all 0.5s ease-out;
}

.btn-hover:hover::before {
  transform: translate(-50%, -50%) scale(20);
  opacity: 0;
}

#buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35em;
}
